#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
}

.table {
  background-color: black;
  color: white; 
  border: 2px solid red;
  padding: 10px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

.selected-contact {
  padding: 25px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: black;
}

.selected-contact h2 {
  color: gray;
}

.selected-contact p {
  font-size: 16px;
}

.selected-contact button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-list {
  background-color: black;
}
